<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OurFitnessPal</title>
</head>
<body>
    <!-- Persistent Header -->
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('dev.dev_index') }}">Dev</a></li>
                <li><a href="{{ url_for('login.logout_index') }}">Logout</a></li>
            </ul>
        </nav>
    </header>

    <!-- Content -->
    <main>
        <p>Welcome Comrade. You are on server {{public_ipv4}}</p>

        {% block content %}
        {% endblock %}
    </main>
    
    <!-- Content -->
    <footer>
        <p>Feet :yummy:</p>
    </footer>
</body>
</html>